@model Student


@Html.Hidden("SavePersonTypes", Url.Action("SavePersonTypes", "Master"))

<style>
    .vl {
        border-left: 4px solid #dedede;
        height: 40px;
        margin-top: 25px;
    }
</style>

<section>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Item form</h5>
                    <div class="col-12 nav nav-pills justify-content-end" style="margin-right:15px; margin-top:-25px">
                        <a href="@Url.Action("Item", "Registration")" class="btn btn-primary   rounded" type="submit">Back</a>
                    </div>
                    <br />
                    <br />

                    <!-- Block styled form -->
                    <form class="row g-3 form-group">

                        <dir class="form-group row">
                            <div class="col-md-3">
                                <label for="_dm-inputEmail2" class="form-label">Item ID</label>
                                @* <input id="_dm-inputEmail2" type="email" class="form-control"> *@

                                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @readonly= "readonly" } })
                                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                            </div>
                        </dir>

                        <dir class="form-group row">
                            <div class="col-md-3">
                                <label for="_dm-inputEmail2" class="form-label">Item Name</label>
                                @* <input id="_dm-inputEmail2" type="email" class="form-control"> *@

                                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @readonly= "readonly" } })
                                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Item Category ID</label>
                                <select id="inputState" class="form-select select2">
                                    <option selected="">Choose...</option>
                                    <option>Mr.</option>
                                    <option>Dr.</option>
                                    <option>Miss.</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="_dm-inputEmail2" class="form-label">Bulk Id Name</label>
                                @* <input id="_dm-inputEmail2" type="email" class="form-control"> *@

                                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name", @readonly= "readonly" } })
                                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label for="_dm-inputEmail2" class="form-label">Preorder Level</label>
                                @* <input id="_dm-inputEmail2" type="email" class="form-control"> *@

                                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @readonly= "readonly" } })
                                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                            </div>
                        </dir>

                        <dir class="form-group row">
                            <div class="col-md-6">
                                <div>
                                    <label for="_dm-inputEmail2" class="form-label">Description</label>
                                    <textarea id="_dm-textareaInput" class="form-control" placeholder="Description" rows="4"></textarea>
                                </div>
                            </div>
                        </dir>
                        
                        <div class="col-12">
                            <div class="form-inline">
                                <a href="@Url.Action("Item", "Registration")" class="btn btn-primary  rounded" style="width:90px">Clear</a>
                                <button style="width:90px" class="btn btn-primary rounded" onclick="SavePersonTypes()">Save </button>
                            </div>
                        </div>
                    </form>
                    <!-- END : Block styled form -->


                </div>
            </div>

        </div>
    </div>
</section>

@* <script src="~/Content/js/Master/PersonTypes.js"></script> *@

@* <script>
    function location_r() {
        window.location = "PersonTypes";
    }
</script> *@
