@model USER
@using Newtonsoft.Json
@{
    ViewBag.Title = "Administrator Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("SavePersonTypes", Url.Action("SavePersonTypes", "Master"))

<section>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">User List</h5>
                    <div class="col-12 nav nav-pills justify-content-end" style="margin-right:15px; margin-top:-25px">
                        <a href="@Url.Action("AddNewUser", "Registration")" class="btn btn-primary rounded" type="submit">+ Add New</a>
                    </div>
                    <br />
                    <br />
                    <!-- Block styled form -->
                    <form class="row g-3 form-group">
                        <div class="row">
                            <div class="col-xl-12 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="example" class="table table-striped datatable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>User ID</th>
                                                    <th>Prefix</th>
                                                    <th>First Name</th>
                                                    <th>Middle Name</th>
                                                    <th>Last Name</th>
                                                    <th>Date Of Birth</th>
                                                    <th>Gender</th>
                                                    <th>More</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.UserList)
                                                {
                                                    <tr>
                                                            <td>@item.User_Display_Number</td>
                                                            <td>@item.Prefix_ID</td>
                                                            <td>@item.First_Name</td>
                                                            <td>@item.Middle_Name</td>
                                                            <td>@item.Last_Name</td>
                                                            <td>@item.Last_Name</td>
                                                            <td>@item.Email</td>
                                                            <td align="center">
                                                                <button type="button" class="btn btn-icon btn-info btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                            <td align="center">
                                                                <button type="button" class="btn btn-icon btn-primary btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        <td align="center">
                                                                <button type="button" class="btn btn-icon btn-danger btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                }                                                                                              
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- END : Block styled form -->
                </div>
            </div>
        </div>
    </div>
</section>